USE [master]
GO
/****** Object:  Database [VENTAS]    Script Date: 28/09/2021 18:06:57 ******/
CREATE DATABASE [VENTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VENTAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VENTAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VENTAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VENTAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VENTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VENTAS]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 28/09/2021 18:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[codcli] [int] NOT NULL,
	[nomcli] [nvarchar](40) NOT NULL,
	[dircli] [nvarchar](50) NOT NULL,
	[numtel] [numeric](9, 0) NOT NULL,
	[correo] [nvarchar](255) NOT NULL,
	[edad] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
