USE [master]
GO
/****** Object:  Database [COLEGIO]    Script Date: 29/09/2021 14:17:17 ******/
CREATE DATABASE [COLEGIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COLEGIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\COLEGIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COLEGIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\COLEGIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COLEGIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COLEGIO]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 29/09/2021 14:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[codigo] [int] NOT NULL,
	[nombres] [nvarchar](40) NOT NULL,
	[apellidos] [nvarchar](40) NOT NULL,
	[direccion] [nvarchar](50) NOT NULL,
	[telefono] [numeric](9, 0) NOT NULL,
	[fec_nac] [date] NOT NULL,
	[dni] [numeric](8, 0) NOT NULL,
	[codcarrera] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSOS]    Script Date: 29/09/2021 14:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSOS](
	[codigoCurso] [int] NOT NULL,
	[descripcion] [nvarchar](40) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCENTE]    Script Date: 29/09/2021 14:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE](
	[codigo] [int] NOT NULL,
	[nombres] [nvarchar](40) NOT NULL,
	[apellidos] [nvarchar](40) NOT NULL,
	[direccion] [nvarchar](50) NOT NULL,
	[telefono] [numeric](9, 0) NOT NULL,
	[fec_nac] [date] NOT NULL,
	[dni] [numeric](8, 0) NOT NULL,
	[curso] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIO]    Script Date: 29/09/2021 14:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIO](
	[codigo] [int] NOT NULL,
	[idAlumno] [int] NOT NULL,
	[idDocente] [int] NOT NULL,
	[idCurso] [int] NOT NULL,
	[horaInicio] [datetime] NOT NULL,
	[horaFin] [datetime] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
